@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* * {
    box-sizing: border-box;
    border: 1px solid gray;
} */

body {
    font-family: Lexend, sans-serif;
}

#contents {
    list-style: none;
    padding: 0;
}

#dashNumbers {
    font-size: 4em;
}

#profilePhoto {
    max-width: 40%;
}
